a{
    text-decoration: none;
}
a:hover{
    color: #fff;
}
/* navbar */
.navbar{
    background-color: #000000;
    padding:7px 50px;
    
}
.nav-link{
    color: #fff;
    font-weight: 500;
}
.navbar-collapse{
   justify-content: right;
}
.slant{
    color: #648b44;
}
.first-section{
    padding: 50px 0;
}
.first-section .col-md-6 p{
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.second-section{
    padding: 100px 250px;
    text-align: center;
}
.second-section h2{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
}
.second-section p{
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
}
.down-icon{
    font-size: 18px;
    background-color: #193503;
    color: #fff;
    border: 1px solid #648b44;
    border-radius: 100%;
    padding: 10px;
}